<div class="container-fluid">
    <div class="first">  
<div class="navbar">
    <a href="#" class="navbar-brand">FETRestau</a>
        <a href="/home" class="nav-link" routerLink="/home">Home </a>
        <a href="/manager" class="nav-link" routerLink="/manager"  *ngIf="showAdminBoard">Manager Board</a>
        <a href="/waiter" class="nav-link" routerLink="mod" *ngIf="showModeratorBoard">waiter Board</a>
        <a href="/customer" class="nav-link" *ngIf="isLoggedIn" routerLink="/customer">User</a>
        <a href="/supplier" class="nav-link" *ngIf="showAdminBoard" routerLink="/supplier">supplier</a>
        <a href="/chef" class="nav-link" *ngIf="showAdminBoard" routerLink="/chef">chef</a>
        <a href="/signup" class="nav-link" routerLink="/signup"  *ngIf="!isLoggedIn">Sign Up</a>
        <a href="/login" class="nav-link" routerLink="/login" *ngIf="!isLoggedIn">Login</a>
        <h5  *ngIf="isLoggedIn">Welcome {{ username }}</h5>
        <a href class="nav-link" (click)="logout()" *ngIf="isLoggedIn">LogOut</a>
</div>
<h3 id="up"> WE ARE TOPNOTCH</h3>
<h5 id="down">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, ullam molestias? Aut,<br> animi corrupti! Saepe necessitatibus deleniti vero sequi voluptatem tenetur, ut eveniet inventore eius, facilis vel dicta commodi perspiciatis! </h5>
<button class="btn btn-primary b1">READ MORE</button>
</div>
<div class="second">
    <div class="card-group">
        <div class="card">
            <div class="card-header">
                 Available
               </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Rice and stew</li>
              <li class="list-group-item">Garri and Eru</li>
              <li class="list-group-item">Yam</li>
              <li class="list-group-item">Achu</li>
              <li class="list-group-item">Ekwang</li>
              <li class="list-group-item">Mpu Fish</li>
              <li class="list-group-item">Rice and stew</li>
              <li class="list-group-item">Garri and Eru</li>
              <li class="list-group-item">Yam</li>
            </ul>
        </div>
        <div class="card">
            <img src="../../assets/fish.jpg" class="card-img-top" alt="../../assets/fish.jpg">
            <div class="card-body">
              <h5 class="card-title">Fresh Fish</h5>
              <p class="card-text">Price:200FCFA.</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary">Order</button>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/ERU-et-water-fufu.jpg" class="card-img-top" alt="../../assets/fish.jpg">
            <div class="card-body">
              <h5 class="card-title">TopNotch Eru</h5>
              <p class="card-text">Price:200FCFA.</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary">Order</button>
            </div>
          </div>  
      </div>
</div>
</div>