<div class="container-fluid">
    <div class="first">  
<div class="navbar">
<a routerLink="/home" routerLinkActive="true" class="active">Home</a>
<a routerLink="/about" routerLinkActive="true">About us</a>
<a routerLink="/signup" routerLinkActive="true">Signup</a>
<a routerLink="/login" routerLinkActive="true">Login</a>
</div>
<h3 id="up"> WE ARE TOPNOTCH</h3>
<h5 id="down">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, ullam molestias? Aut,<br> animi corrupti! Saepe necessitatibus deleniti vero sequi voluptatem tenetur, ut eveniet inventore eius, facilis vel dicta commodi perspiciatis! </h5>
<button class="btn btn-primary b1">READ MORE</button>
</div>
<div class="second">
    <div class="card-group">
        <div class="card">
            <div class="card-header">
                 Available
               </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Rice and stew</li>
              <li class="list-group-item">Garri and Eru</li>
              <li class="list-group-item">Yam</li>
              <li class="list-group-item">Achu</li>
              <li class="list-group-item">Ekwang</li>
              <li class="list-group-item">Mpu Fish</li>
              <li class="list-group-item">Rice and stew</li>
              <li class="list-group-item">Garri and Eru</li>
              <li class="list-group-item">Yam</li>
            </ul>
        </div>
        <div class="card">
            <img src="../../assets/fish.jpg" class="card-img-top" alt="../../assets/fish.jpg">
            <div class="card-body">
              <h5 class="card-title">Fresh Fish</h5>
              <p class="card-text">Price:200FCFA.</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary">Order</button>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/ERU-et-water-fufu.jpg" class="card-img-top" alt="../../assets/fish.jpg">
            <div class="card-body">
              <h5 class="card-title">TopNotch Eru</h5>
              <p class="card-text">Price:200FCFA.</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary">Order</button>
            </div>
          </div>  
      </div>
</div>
</div>